<strong>Olá {{ student }}, </strong>
<p>Uma resposta foi adicionada a sua pergunta:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
</p>
<p>
  <strong>Resposta: </strong>  {{ answer }} <br />
<p>
